@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&family=Lato:wght@300;400;700;900&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F5F7D9;
  width: 100vw;
}
*{
  margin: 0;
  padding: 0;
}

/* Sidebar */
.employeeSidebar{
  position: fixed;
  width: 15%;
  height: 100%;
  position: fixed; 
  background-color: #000000;
}
.fmSidebar{
  position: fixed;
  width: 18%;
  height: 100%;
  position: fixed; 
  background-color: #000000;
}
.userName{
  width: 100%;
  height: 14%;
  margin-top: 10px;
  border-top: 0.5px solid #F5F7D9;
  border-bottom: 0.5px solid #F5F7D9;  
  color: #EEEBDD;
  text-align: left;
  font-size: 16px;
  font-family: Lato, sans-serif;
}
.fmName{
  width: 100%;
  height: 20%;
  margin-top: 10px;
  border-top: 0.5px solid #F5F7D9;
  border-bottom: 0.5px solid #F5F7D9;  
  color: #EEEBDD;
  text-align: left;
  font-size: 16px;
  font-family: Lato, sans-serif;
}
.accName{
  width: 100%;
  height: 12%;
  margin-top: 20px;
  border-top: 0.5px solid #F5F7D9;
  border-bottom: 0.5px solid #F5F7D9;  
  color: #EEEBDD;
  text-align: left;
  font-size: 16px;
  font-family: Lato, sans-serif;
}
.accname{
  font-family: Karla, sans-serif;
  color: #D8B6A4;
  margin-left: 1rem;
  margin-top: 5px;
}
.name{
  font-family: Karla, sans-serif;
  color: #D8B6A4;
  margin-left: 1rem;
}
.greeting{
  margin-left: 1rem;
  margin-top: 1rem;
}

.menu{
  width: 90%;
  height: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.fmenu{
  width: 95%;
  height: 40%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.accmenu{
  width: 95%;
  height: 50%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menuItem{
  width: 95%;
  height: 10%;
  list-style: none;
}
.fmmenuItem{
  width: 100%;
  height: 15%;
  list-style: none;
}
.accmenuItem{
  width: 100%;
  height: 15%;
  list-style: none;
}
.totalNotifications{
  color: #D8B6A4;
  margin-left: 20px;
  margin-top: 10px;
  font-weight: bold;
}
.totalNotifications p{
  font-size: 16px;
}
.numberOfRequests p{
  padding-top: 3px;
  padding-left: 10ypx;
  text-align: center;
}
.activeNavlink{
  width: 100%;
  height: 100%;
  background-color: #333333;
  text-decoration: none;
  font-family: Karla, sans-serif;
  border-radius: 10px;
  display: flex;
}
.activeNavlink p{
  text-align: justify;
  width: 100%;
  height: 60%;
}
.activeNavlink .numberOfRequests{
  color: #F5F7D9;
  height: 25px;
  width: 25px;
  background-color: #630000;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 5px;
}
.inactiveNavlink{
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: Karla, sans-serif;
  border-radius: 10px;
  display: flex;
}
.menuIcon{
  font-size: 28px;
  padding-top: 5px;
  color: #D8B6A4;
  margin-left: 2px;
}
.linkDesc{
  margin-top: 10px;
  margin-left: 4px;
  color: #F5F7D9;
}


/* Dashboard */
.employeeDashboard{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.employeeDashboardContent{
  position: absolute;
  left: 15%;
  width: 85%;
  height: 100%;
}
.animation{
  width: 40%;
  height: 50%;
  margin-left: 30%;
  margin-top: 3%;
  margin-bottom: 2rem;
}
.animationLottie{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.requestCard{
  width: 40%;
  height: 32%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: #EEEBDD;
}
.requestCardTitle{
  padding-top: 20px;
  margin-left: 2rem;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.requestCard p{
  margin-left: 2rem;
  font-family: Karla, sans-serif;
  margin-top: 10px;
}
.requestCard input{
  width: 328px;
  height: 50px;
  margin-left: 2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #630000;
  cursor: pointer;
  color: #F5F7D9;
  font-size: 16px;
  margin-top: 10px;
}
.requestForm{
  position: absolute;
  width: 85vw;
  margin-left: 15vw;
  height: 100vh;
  background-color: #F5F7D9;
  z-index: 1;
  overflow: hidden;
}
.closeFormBtn{
  position: absolute;
  font-size: 35px;
  color: #630000;
  cursor: pointer;
  left: 90%;
}
.requestFormFields{
  width: 100%;
  height: 97%;
}
.requestFormFields h3{
  font-family: Lato, sans-serif;
  margin-left: 12%;
  margin-top: 2rem;
}
.requestFormFields form{
  width: 80%;
  height: 90%;
  margin-left: 10%;
}
.nameInput{
  width: 70%;
  height: 13%;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
}
.requestnameField .MuiOutlinedInput-root{
  width: 280px;
  height: 48px;
  border-radius: 10px;
  color: #000000;
  border: 0.75px solid #000000;
  outline: none;
  background: none;
}
.requestFieldInputs{
  width: 70%;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
}
.requestField .MuiOutlinedInput-root{
  width: 280px;
  height: 48px;
  border-radius: 10px;
  color: #000000;
  border: 0.75px solid #000000;
  outline: none;
  background: none;
}
.selectTag .MuiOutlinedInput-root{
  margin-top: 18px;
  width: 280px;
  height: 48px;
  border-radius: 10px;
  color: #000000;
  border: 0.75px solid #000000;
  outline: none;
  background: none;
}
.selectTag .MuiInputLabel-root{
  margin-top: 18px;
}
.dateandAmount{
  width: 70%;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
}
.dateField{
  margin-top: 15px;
  width: 280px;
  height: 48px;
  border-radius: 10px;
  color: #000000;
  border: 0.75px solid #000000;
  outline: #000000;
  background: none;
}
.textAreaandBtn{
  width: 70%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
.textArea .MuiOutlinedInput-root{
  margin-top: 10px;
  width: 500px;
  border-radius: 10px;
  color: #000000;
  border: 0.75px solid #000000;
  outline: none;
  background: none;
}
.requestBtn{
  width: 280px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #630000;
  cursor: pointer;
  color: #F5F7D9;
  font-size: 16px;
  margin-top: 12px;
}
.requestBtn:disabled{
  background-color: #D8B6A4;
}
.reqError{
  margin-left: 2rem;
  font-family: Karla, sans-serif;
  color: red;
}
.confirmation{
  margin-left: 2rem;
  font-family: Karla, sans-serif;
  color: green;
}







/* View Requests */
.viewRequests{
  display: flex;
}
.viewRequestsContent{
  position: absolute;
  left: 15%;
  width: 85%;
  height: 100%;
}
.employeeRequestsPage{
  width: 100%;
  height: 100%;
}
.request{
  width: 100%;
  height: 20vh;
  border-bottom: 1px #000000 solid;
}
.requestIcon{
  font-size: 24px;
  margin-top: 18px;
  margin-left: 10px;
  margin-right: 10px;
  color: #D8B6A4;
}
.requestTitle{
  display:flex;
  font-family: Karla, sans-serif;
  height: 30px;
}
.requestTitle h3{
  color: #000000;
  margin-top: 1rem;
}
.requestDetails{
  margin-left: 42px;
  font-family: Karla, sans-serif;
  margin-top: 10px;
}
.request-time{
  color: rgba(0, 0, 0, 0.7);
}
.emptyRequestPage{
  width: 100%;
  height: 100%;
}
.reqnotAnimation{
  width: 40%;
  height: 50%;
  margin-left: 30%;
}
.emptyReqPageCard{
  width: 70%;
  margin: auto;
  font-family: Lato, sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: #630000;
  text-align: center;
}




/* Receipts */
.receipts{
  display: flex;
}
.receiptsContent{
  position: absolute;
  left: 15%;
  width: 85%;
  height: 100%;
}
.viewReceipts{
  width: 100%;
  height: 100%;
}
.emptyReceiptsPage{
  width: 100%;
  height: 100%;
}
.recAnimation{
  width: 40%;
  height: 50%;
  margin-left: 30%;
  margin-bottom: 10%;
}
.emptyRecPageCard{
  width: 70%;
  margin: auto;
  font-family: Lato, sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: #630000;
  text-align: center;
}
.allReceipts{
  width: 100%;
  height: 100%;
}
.allReceipts h3{
  margin-left: 2rem;
  padding-top: 1rem;
  font-family: Lato, sans-serif;
  font-size: 28px;
  font-weight: bolder;
}
.receiptSearchBar{
  margin-top: 10px;
  margin-left: 2rem;
  width: 500px;
  height: 52px;
  display: flex;
}
.searchInput .MuiOutlinedInput-root{
  width: 328px;
  height: 52px;
  border: none;
  background-color: #EEEBDD;
  border-radius: 10px;
}
.searchBtn{
  margin-left: 10px;
  width: 120px;
  height: 40px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #000000;
  color: #F5F7D9;
  font-size: 16px;
}
.receiptList{
  width: 90%;
  height: 70%;
  margin-top: 2rem;
}
.receipt{
  margin-left: 2rem;
  width: 650px;
  height: 100px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.receiptTitle{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.receiptReason{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
.recIcon{
  font-size: 20px;
  margin-right: 5px;
  margin-left: 10px;
}
.receiptReason p{
  font-size: 16px;
  font-family: Karla, san-serif;
}
.receiptAmount{
  margin-top: 10px;
  margin-right: 50px;
  font-family: Karla, san-serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}
.receiptDetailsBtn{
  margin-top: 10px;
}
.receiptDetailsBtn input{
  margin-left: 10px;
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #630000;
  color: #F5F7D9;
  cursor: pointer;
  border-radius: 5px;
  font-family: Karla, sans-serif;
}
.receiptDetails{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
  filter: blur();
  -webkit-filter: blur();
  position: absolute;
  right: 0vw;
  z-index: 99;
}
.receiptCard{
  width: 60%;
  height: 80%;
  background-color: #F5F7D9;
  margin-top: 2rem;
  margin-left: 20%;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}
.closeReceiptCard{
  font-size: 40px;
  margin-left: 80%;
  cursor: pointer;
  margin-top: 10px;
  color: #F5F7D9;
}
#receiptCardContent{
  width: 100%;
  height: 85%;
}
.receipCardtTitle{
  display: flex;
  width: 90%;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid #630000;
}
.logoImage{
  height: 30px;
  width: 90px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.logoImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.receipCardtTitle h4{
  margin-top: 12px;
  margin-bottom: 10px;
  margin-left: 13rem;
  font-size: 18px;
  font-family: Lato, sans-serif;
}
.employeeDetails{
  width: 90%;
  height: 20%;
  margin: auto;
  display: flex;
  border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.employeeDetails h5{
  margin-left: 2rem;
  font-size: 16px;
  font-family: Lato, sans-serif;
  margin-top: 10px;
}
.allEmployeeDetails{
  width: 50%;
  height: 85%;
  margin-left: 20%;
  margin-top: 10px;
}
.allEmployeeDetails p{
  font-family: Karla, sans-serif;
}
.requestSummary{
  width: 90%;
  margin: auto;
  height: 25%;
  display: flex;
  border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.requestSummary h5{
  margin-left: 2rem;
  font-size: 16px;
  font-family: Lato, sans-serif;
  margin-top: 10px;
}
.allrequestSummary{
  width: 50%;
  height: 85%;
  margin-left: 8.6%;
  margin-top: 10px;
}
.allrequestSummary p{
  font-family: Karla, sans-serif;
}
.fundAllocationSummary{
  width: 90%;
  margin: auto;
  height: 25%;
  display: flex;
  border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.fundAllocationSummary h5{
  margin-left: 2rem;
  font-size: 16px;
  font-family: Lato, sans-serif;
  margin-top: 10px;
}
.fundsAllocationOutput{
  width: 50%;
  height: 85%;
  margin-left: 11.5%;
  margin-top: 10px;
}
.fundsAllocationOutput p{
  font-family: Karla, sans-serif;
}
.servedby{
  width: 90%;
  margin: auto;
  height: 10%;
  display: flex;
  border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.servedby h5{
  margin-left: 2rem;
  font-size: 16px;
  font-family: Lato, sans-serif;
  margin-top: 10px;
}
.servedby p{
  width: 50%;
  height: 85%;
  margin-left: 27%;
  margin-top: 10px;
  font-family: Karla, sans-serif;
}
.download{
  width: 90%;
  height: 15%;
  margin: auto;
}
.download input{
  margin-top: 5px;
  margin-left: 2rem;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: #630000;
  color: #F5F7D9;
  border: none;
  outline: none;
  border-radius: 10px;
  font-family: Karla, sans-serif;
}








/* employeeNotifications */
.employeeNotifications{
  display: flex;
}
.employeeNotifContent{
  position: absolute;
  left: 15%;
  width: 85%;
  height: 100%;
}
.employeeNotificationsPage{
  width: 100%;
  height: 100%;
}
.employeeNotifContent h3{
  padding-top: 10px;
  margin-left: 2rem;
  font-family: Lato,sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}
.notificationTabs{
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.activeTab{
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-bottom: 2px solid #630000;
  margin-left: 2rem;
  display: flex;
}
.activeTab h4{
  padding-top: 20px;
  font-size: 16px;
  font-family: Karla, san-serif;
  font-weight: bold;
}
.inactiveTab{
  width: 200px;
  height: 30px;
  cursor: pointer;
  margin-left: 2rem;
  display: flex;
}
.inactiveTab h4{
  padding-top: 20px;
  font-size: 16px;
  font-family: Karla, san-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
.activeNotificationsNo{
  margin-top: 20px;
  margin-left: 10px;
  width: 30px;
  height: 22px;
  border-radius: 5px;
  background-color: #630000;
  color: #F5F7D9;
  margin-bottom: 10px;
}
.activeNotificationsNo p{
  font-family: Karla, sans-serif;
  margin-left: 10px;
}
.inactiveNotificationsNo{
  margin-top: 20px;
  margin-left: 10px;
  width: 30px;
  border-radius: 5px;
  height: 22px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #F5F7D9;
  margin-bottom: 10px;
}
.inactiveNotificationsNo p{
  font-family: Karla, sans-serif;
  margin-left: 10px;
}
.allNotifications{
  width: 100%;
  height: 90%;
}
.notification{
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #EEEBDD;
  border-bottom: 0.75px solid rgba(0, 0, 0, 0.3);
}
.viewedNotif{
  display: flex;
  width: 100%;
  height: 10%;
  border-bottom: 0.75px solid rgba(0, 0, 0, 0.3);

}
.notifIcon{
  margin-left: 2rem;
  margin-right: 5px;
  padding-top: 15px;
}
.approvedIcon{
  font-size: 18px;
  color: #000000;
}
.rejectIcon{
  font-size: 18px;
  color: #630000;
}
.notifDetails{
  padding-top: 15px;
  font-family: Karla, sans-serif;
  font-size: 14px;
}

.emptyNotPage{
  width: 100%;
  height: 100%;
}
.emptyNotPageCard{
  width: 70%;
  margin: auto;
  font-family: Lato, sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: #630000;
  text-align: center;
}


/* Finance Manager Dashboard */
.fmDashboardContent{
  position: absolute;
  width: 82vw;
  height: 100vh;
  left: 18%;
}
.receivedRequests{
  width: 82vw;
  height: 100vh;
}
.receivedRequestsTitle{
  width: 100%;
  height: 8%;
  border-bottom: 1px solid #000000;
  font-family: Lato, sans-serif;
  font-size: 24px;
}
.receivedRequestsTitle h4{
  padding-top: 10px;
  padding-left: 5%;
}
.receivedRequestItems{
  width: 80%;
  margin-left: 5%;
  margin-top: 15px;
}
.receivedRequest{
  position: relative;
  width: 60%;
  height: 75px;
  margin-top: 8px;
  border-radius: 10px;
  background-color: #EEEBDD;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.requestNumber{
  padding-top: 10px;
  padding-left: 1rem;
  font-family: Karla, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
.receivedRequest input{
  position: absolute;
  left: 60%;
  top: 50%;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #630000;
  color: #F5F7D9;
}
.receivedRequestDetails{
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  right: 0vw;
}
.requestDetailsCard{
  position: absolute;
  width: 40%;
  height: 70%;
  background-color: #F5F7D9;
  border-radius: 10px;
  left: 30%;
  top: 15%;
  z-index: 1;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}
.blurrybg{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
  filter: blur();
  -webkit-filter: blur();
}
.closeWindow{
  width: 100%;
  height: 30px;
}
.closeWindowIcon{
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  left: 90%;
  margin: 10px;
  color: rgba(0,0,0, 0.5);
}
.requestorDetails{
  height: 75%;
  width: 100%;
}
.detailsTitle{
  font-family: Lato, sans-serif;
  font-size: 18px;
  margin-left: 5%;
}
.requestorName{
  width: 90%;
  height: 10%;
  display: flex;
  margin-left: 5%;
  border-bottom: 1.5px solid rgba(0,0,0, 0.1);
}
.requestorName h5{
  font-family:Lato, sans-serif;
  font-size: 16px;
  color: rgba(0,0,0, 0.5);
  margin-top: 5px;
}
.requestorName p{
  font-family: Karla , sans-serif;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
}
.requestorDepartment{
  width: 90%;
  height: 10%;
  display: flex;
  margin-left: 5%;
  border-bottom: 1.5px solid rgba(0,0,0, 0.1);
}
.requestorDepartment h5{
  font-family:Lato, sans-serif;
  font-size: 16px;
  color: rgba(0,0,0, 0.5);
  margin-top: 5px;
}
.requestorDepartment p{
  font-family: Karla , sans-serif;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
}
.amountRequested{
  width: 90%;
  height: 10%;
  display: flex;
  margin-left: 5%;
  border-bottom: 1.5px solid rgba(0,0,0, 0.1);
}
.amountRequested h5{
  font-family:Lato, sans-serif;
  font-size: 16px;
  color: rgba(0,0,0, 0.5);
  margin-top: 5px;
}
.amountRequested p{
  font-family: Karla , sans-serif;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
}
.reasonForRequest{
  width: 90%;
  height: 50%;
  margin-left: 5%;
  border-bottom: 1.5px solid rgba(0,0,0, 0.1);
}
.reasonForRequest h5{
  font-family:Lato, sans-serif;
  font-size: 16px;
  color: rgba(0,0,0, 0.5);
}
.reasonForRequest p{
  font-family: Karla , sans-serif;
  font-size: 14px;
  margin-top: 5px;
}
.dateOfRequest{
  width: 90%;
  height: 5%;
  display: flex;
  margin-left: 5%;
  color: rgba(0,0,0, 0.5);
  margin-top: 10px;
}
.dateOfRequest h5{
  font-family:Lato, sans-serif;
  font-size: 14px;
  color: rgba(0,0,0, 0.5);
  margin-top: 5px;
}
.dateOfRequest p{
  font-family: Karla , sans-serif;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 5px;
}
.approveRejectButtons{
  width: 50%;
  height: 15%;
  margin-left: 45%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
}
.denyBtn{
  width: 120px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
  color: #F5F7D9;
  background-color: #630000;
  outline: none;
  border: none;
  border-radius: 10px;
}
.approveBtn{
  width: 120px;
  height: 40px;
  margin-top: 12px;
  cursor: pointer;
  color: #F5F7D9;
  background-color: #000000;
  outline: none;
  border: none;
  border-radius: 10px;
}

/* Finance Manager History */
.fmHistory{
  position: absolute;
  width: 82vw;
  height: 100vh;
  left: 18%;
}
.fmHistory h3{
  margin-left: 2rem;
  font-family: Karla, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.historyItems{
  width:100%;
  height: 30px;
  border-bottom: 1px solid #000000;
}



/* Accountant Dashboard */
.accountantNotifContent{
  position: absolute;
  width: 82vw;
  height: 100vh;
  left: 18%;
}
.allApprovedRequests{
  width: 100%;
  height: 100%;
}
.allApprovedRequests h3{
  padding-top: 10px;
  margin-left: 5%;
  font-size: 24px;
  font-family: Lato, sans-serif;
}
.approvedRequests{
  width: 80%;
  height: 90%;
  margin-left: 5%;
  margin-top: 10px;
}
.approvedRequest{
  width: 60%;
  background-color: #EEEBDD;
  height: 10;
  margin-bottom: 2%;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.approvedRequest input{
  margin-left: 70%;
  width: 100px;
  height: 30px;
  margin-bottom: 4px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #630000;
  cursor: pointer;
  color: #F5F7D9;
}
.approvedRequest p{
  font-family: Karla,sans-serif;
  padding-top: 5px;
  margin-left: 1rem;
}
.approvedRequestsDetailsWindow{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
  position: absolute;
  right: 0%;
}
.approvedRequestsCard{
  width: 50%;
  height: 70%;
  margin-left: 25%;
  margin-top: 5%;
  background-color: #F5F7D9;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}
.closeWindowIcon2{
  margin-left: 90%;
  font-size: 20px;
  cursor: pointer;
  padding-top: 6px;
}
.approvedRequestsCardTitle{
  width: 100%;
  border-bottom: solid 1px rgba(0,0,0, 0.5);
}
.approvedRequestsCardTitle h5{
  margin-left: 2rem;
  font-size: 18px;
  font-family: Lato, sans-serif;
  padding-bottom: 10px;
}
.approvedRequestName{
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 24px;
  font-family: Karla, sans-serif;
  margin-top: 15px;
  font-weight: bold;
  color: rgba(0,0,0, 0.7);
}
.amountRequested{
  margin: 2rem;
  margin-top: 20px;
  width: 50%;
  height: 120px;
  background-color: #EEEBDD;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.amount2{
  margin-left: 10px;
  margin-top: 10px;
  color: rgba(0,0,0, 1);
  font-size: 20px;
  font-family: Karla, sans-serif;
  font-weight: bold;
}
.date2{
  margin-top: 10px;
  font-size: 16px;
  margin-left: 5px;
  font-family: Karla, sans-serif;
  color: rgba(0,0,0, 0.7);
  border-bottom: 1px solid rgba(0,0,0, 0.3);
  width: 80%;
}
.date2 p{
  margin-bottom: 10px;
}
.approvedRequestsCard input{
  margin-left: 60%;
  width: 150px;
  height: 40px;
  background-color: #630000;
  color: #F5F7D9;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Karla, sans-serif;
  font-size: 14px;
}
.allocationSuccess{
  margin-left: 50%;
  font-family: Karla, sans-serif;
  color: green;
  margin-top: 10px;
}


/* Petty Cash Records */
.pettyCash{
  position: absolute;
  width: 82vw;
  height: 100vh;
  left: 18%;
  background-color: palegoldenrod;
}
.pettyCash h3{
  margin-left: 2rem;
  font-family: Lato, sans-serif;
  font-size: 20px;
  margin-top: 20px;
}
.setInitialAmount{
  margin-left: 2rem;
  width: 220px;
  height: 50px;
  background-color: #000000;
  margin-top: 10px;
  display: flex;
  color:#F5F7D9;
  cursor: pointer;
  border-radius: 10px;
}
.setInitialAmount p{
  margin-top: 15px;
  font-family: Karla, sans-serif;
}
.addIcon{
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}
.initialAmountWindow{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
  filter: blur();
  -webkit-filter: blur();
  position: absolute;
  right: 0vw;
  z-index: 99;
}
.initialAmountCard{
  width: 40%;
  height: 50%;
  background-color: #F5F7D9;
  margin-top: 5%;
  margin-left: 30%;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}
.initialAmountCard h4{
  margin-left: 2rem;
  font-family: Lato, sans-serif;
  font-size: 18px;
  padding-top: 15px;
}
.amountInput{
  width: 328px;
  height: 52px;
  margin-left: 2rem;
  margin-top: 20px;
}
.amountInputField .MuiOutlinedInput-root{
  width: 328px;
  height: 52px;
  border-radius: 10px;
  font-family: Karla, sans-serif;
  background: none;
  color: #000000;
}
.setAmountBtn{
  width: 328px;
  height: 52px;
  background-color: #630000;
  cursor: pointer;
  border-radius: 10px;
  color: #F5F7D9;
  font-family: Karla, sans-serif;
  outline: none;
  border: none;
  margin-top: 30px;
  margin-left: 2rem;
}
