@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&family=Lato:wght@300;400;700;900&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5fefd;
  width: 100vw;
}

/* Logo */
.logo-box{
  margin-left: 2rem;
  height: 50px;
  width: 150px;
}
.logoliteBox{
  margin-left: 2rem;
  height: 50px;
  width: 150px;
}



/* Navigation */
.Navigation{
 width: 100%;
 height: 12vh;
 display: flex;
 justify-content: space-between;
 font-family: Lato, sans-serif;
}
.Nav-Links{
  margin-right: 5rem;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.aboutLinks{
  width: 350px;
}
.aboutLinks ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.aboutLinks ul li{
  list-style: none;
}
.navlink{
  text-decoration: none;
  color: #630000;
  font-weight: bold;
  font-size: 18px;
}
.NavBtns{
  display: flex;
  justify-content: space-between;
  width: 250px;
  font-size: 16px;
}
.registerBtn{
  width: 100px;
  height: 30px;
  margin-top: 10px;
  background-color: #630000;
  border: none;
  font-size: 16px;
  color: #EEEBDD;
  cursor: pointer;
  border-radius: 30px;
}
.registerBtn:hover{
  background: none;
  border: 2px #630000 solid;
  color: #630000;
}
.loginBtn{
  width: 100px;
  height: 30px;
  margin-top: 10px;
  border: 2px solid #000000;
  font-size: 16px;
  color:#000000;
  cursor: pointer;
  border-radius: 30px;
  background: 0;
}
.loginBtn:hover{
  background-color: #000000;
  color: #EEEBDD;
}

/* Landing Page */
.landingPage{
  width: 100vw;
  height: 88vh;
  display: flex;
  overflow: hidden;
}
.landingPageImage{
  width: 50%;
  height: 100%;
}
.landingPageImage img{
  width: 100%;
  height: 100%;
}
.landingPageTxt{
  width: 50%;
  height: 100%;
}
.textBox{
  height: 10%;
  width: 100%;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
}
.textBox h3{
  padding-top: 10px;
  font-family: Lato, sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color : #630000;
}
.smallerText{
  height: 20%;
  width: 80%;
  margin-left: 10%;
  font-family: Karla, sans-serif;
  font-size: 16px;
}
.getStartedBtn{
  width: 50%;
  height: 50px;
  margin-left: 10%;
  margin-top: 5%;
}
.getStartedBtn input{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  color: #EEEBDD;
  background-color: #630000;
  font-family: Lato, sans-serif;
  font-size: 20px;
  cursor: pointer;
  margin: auto;
  outline: none;
  border: none;
}
.getStartedBtn input:hover{
  border: 2px solid #630000;
  color: #630000;
  background: none;
}


/* Registration */
.registration{
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
}
.registrationIllustration{
  width: 40%;
  height: 100%;
}
.regIllu{
  width: 80%;
  height: 70%;
  margin-top: 10%;
  margin-left: 10%;
}
.regIllu img{
  width: 150%;
  height: 100%;
}
.registrationForm{
  width: 45%;
  height: 125vh;
  margin-top: 1%;
  margin-left: 10rem;
  /* background-color: #EEEBDD; */
  border-radius: 30px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}
.registrationForm h3{
  font-family: Lato, sans-serif;
  font-size: 20px;
  color: #000000;
  text-align: center;
}


.avatars{
  width: 80%;
  height: 15%;
  margin-left: 10%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: #630000;
  font-family: Karla, sans-serif;
}
.avatar{
  width: 100px;
  height: 60px;
  background-color: #630000;
  border-radius: 15px;
  cursor: pointer;
}
.inactiveAvatar{
  width: 100px;
  height: 60px;
  border: 2px solid #000000;
  border-radius: 15px;
  cursor: pointer;
}
.individualAvatar{
  color: #EEEBDD;
  font-size: 40px;
  margin-left: 30px;
  margin-top: 5px;
}
.inactiveIndividualAvatar{
  color: #000000;
  font-size: 40px;
  margin-left: 30px;
  margin-top: 5px;
}
.positionDesc{
  color: #630000;
  font-weight: bold;
}
.inactivePositionDesc{
  color: #000000;
  font-weight: bold;
}
.registrationForm form{
  width: 350px;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.registerfield .MuiOutlinedInput-root {
  width: 350px;
  height: 48px;
  border-radius: 10px;
  color: #000000;
  border: 0.75px solid #000000;
  outline: none;
  background: none;
}
.registrationBtn{
  width: 350px;
  background-color: #630000;
  height: 50px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: Karla, sans-serif;
  color: #E3E1D3;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
}
.registrationBtn:hover{
  border: 2px solid #630000;
  border-radius: 30px;
  color: #96916E;
  background: none;
  margin-top: 10px;
}
.registrationBtn:disabled{
  background-color: #D8B6A4;
}
.haveAnAccount{
  display: flex;
}
.haveAnAccount p{
  font-family: Karla, sans-serif;
}
.accountLink{
  margin-top: 15px;
  margin-left: 2px;
  font-family: Karla, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #630000;
}






